<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("c6c3926d-a83a-4b39-b809-0e33e8dd31bb");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
